<%= form_tag('/users/search', method: :get) do %>
  <input name="keyword" placeholder="input nickname" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
<% end %>

<%= render @users %>
