//poster
.poster {
  overflow: hidden;
  margin: 20px 15px;
  padding: 0 !important;
  .image {
    background-position: center center;
    background-size: cover;
  }
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

// mixin
@mixin baseBox($margin: 10px, $padding: 10px) {
    padding: $padding;
    margin: $margin;
}

$base:  #1a1a1a;
$base_sub: #f09797;
$accent: #5ec6ec;
$text: #3b3730;
$gray: #888;
$navbarcolor: #e5e5e5;

//setting
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: Montserrat, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
}
html,body {
  height: 100%;
}
body {
  background-color: #e6e6e6 !important;
  padding-top: 70px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
body,input,textarea,table,h1,h2,h3,h4,h5,h6 {
  line-height: 1.67;
  letter-spacing: 0.15em;
  font-size: 14px;
  color: #3b3730;
  font-weight: bold !important;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4,h5,h6 {
  font-size: 1em;
}

.row {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

a {
  color: $base;
  text-decoration: none;
  &:hover {
    color: $base_sub;
    text-decoration: underline;
  }
}



//style
.navbar {
  border-bottom: 0;
  // box-shadow: 0 2px 2px rgba(#000,0.1);
  &.navbar-default {
    background: rgba(#1a1a1a,0.8);
  }
  .navbar-brand {
    height: 80px;
    img {
      height: 100%;
      float: left;
    }
    small {
      font-size: .6em;
      color: #736b5e;
      padding-left: 10px;
    }
  }
  .navbar-nav {
    > li > a {
      color: $navbarcolor !important;
      padding-top: 30px;
      padding-bottom: 25px;
      &:hover {
        color: lighten($base, 20%) !important;
      }
    }
  }
  .dropdown-menu li a {
    padding: 10px 20px;
    &:hover {
      color: $base;
    }
  }
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 25px;
  }
}
.login_back {
    background: image-url("bg.jpg") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .sign_up_logo {
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 300px;
      }
      small {
        display: block;
        font-size: 1.2em;
        color: $base;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
      }
    }
    h2 {
      margin: 0 0 20px;
    }
    input[type=email],
    input[type=password],
    input[type=submit] {
      width: 100%;
      margin: 10px 0;
    }
    .log-in {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 30%;
      min-width: 400px;
      height: 640px;
    }
    .log-in-inner {
        @include baseBox(0,50px);
        border-radius: 5px;
        background-color: rgba(#fff,0.93);
        box-shadow: 0 3px 5px rgba(#000,.1);
    }
}


.regist_back {
    background: image-url("bg.jpg") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .sign_up_logo {
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 300px;
      }
      small {
        display: block;
        font-size: 1.2em;
        color: $base;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
      }
    }
    h2 {
      margin: 0 0 20px;
      text-align: center;
    }
    input[type=email],
    input[type=password],
    input[type=submit] {
      width: 100%;
      margin: 10px 0;
    }
    .log-up {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 50px auto;
      width: 30%;
      min-width: 400px;
    }
    .log-in-inner {
        @include baseBox(0,50px);
        border-radius: 5px;
        background-color: rgba(#fff,0.93);
        box-shadow: 0 3px 5px rgba(#000,.1);
    }
}


.alert {
  padding: 5px;
  font-size: 10px;
  margin: 0;
}
footer {
  overflow: hidden;
  p {
    font-size: .8em;
  }
}
